html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ////////////////////////////////////////////////////////////////////// */

@font-face {
  font-family: "iransans";
  src: url("../public/font/iransans.eot");
  src: url("../public/font/iransans.woff") format("woff"),
    url("../public/font/iransans.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: iransans;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  direction: rtl;
}

/* Header */

header {
    border-bottom: 10px rgb(245, 11, 11) solid ;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    height: 127px;
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255);
    top: 0px;
    z-index: 500;
    border-radius: 10px;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    transition: 0.5s;
    align-content: center;
    flex-wrap: nowrap;
}

header.scroll {
    height: 69px;
  background-color: #ffffff;
  color: black;
  top: 0px;
  right: 0px;
  width: 100%;
}

header.scroll  .header-right-side {
  background-color: #F4F2F2;
 }
header.scroll  .header-right-side a{
  padding: 20px px;
 }
 header.scroll  .header-left-side {
  padding: 20px 50px;
 }


header .menu-svg {
  display: none;
}

.header-right-side {
  display: flex;
  background-color: #F4F2F2;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  align-content: flex-end;
  flex-direction: column-reverse;
  justify-content: center;
}

.header-right-side .close-svg {
  display: none;
}
.header-right-side a {
  padding: 5px;
  font-weight: bolder;
  text-decoration: none;
  color: #000228;
}

.header-right-side.scroll a {
  color: rgb(0, 0, 0);
}

.header-right-side a:hover {
  color: #fcc31a;
  cursor: pointer;
}

.header-right-side img {
  margin-bottom: 10px;
  margin-left: 20px;
}

.header-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F2F2;
}
.header-left-side a {
  padding: 12px 20px;
  border: 2px #0094df solid;
  font-size: 14px;
  font-weight: 70;
  border-radius: 25px;
  transition: 0.5s;
  margin-left: 30px;
  color: #000228;
}
header .header-left-side a:hover {
  background-color: #000228;
  color: white;
  cursor: pointer;
}

.header-left-side a.scroll {
  color: white;
  border: 2px white solid;
}

.header-left-side a.scroll:hover {
  background-color: #fcc31a;
  color: #000228;
}

.search {
  position: relative;
}
.search svg {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  user-select: none;
  cursor: pointer;
}

.search input {
  padding: 10px 10px;
  border-radius: 25px;
  width: 40px;
  border: 2px #0094df solid;
  transition: 1s;
  cursor: pointer;
}
.search input.scroll {
  border: 2px white solid;
  outline: none;
}

@media (max-width: 992px) {
  header .menu-svg {
    display: block;
    cursor: pointer;
  }
  .header-right-side {
    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background-color: #F4F2F2;
    
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
    transition-timing-function: ease-out;
  }

  .header-right-side.active {
    right: 0;
  }

  .header-right-side .close-svg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    z-index: 5;
    fill: #005783;
    cursor: pointer;
  }
  .header-right-side img {
    width: 90px;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .header-right-side a {
    width: 100%;
    background-color: #E7E7E7;
    text-align: center;
    padding: 17px 30px;
    background-color: #00a0f0;
    color: black;
    border-radius: 25px;
    margin-bottom: 25px;
    transform: translateY(50px);
    opacity: 0;
  }

  .header-right-side a:hover {
    background-color: #000670;
    color: white;
  }
  .header-right-side.active a {
    opacity: 1;
    padding-right: 119px;
    transform: translateY(0px);
    transition-property: transform, opacity;
    transition-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: calc(var(--i) * 0.2s), calc(var(--i) * 0.2s);
  }
}

@media (max-width: 560px) {
  .header-right-side {

    width: 100%;
  }
}
.black-div{
    background-color: #4A4A4A;
margin-bottom: 20px;
}
.first-nav{
    display: flex;
   
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.menu-search-wrap{
    display: inline;
}

.innerabave{

    display: inline;
}
@media (max-width: 566px) {
header{

  right: 0px;
}




}
.middle{
  display: flex;

    z-index: 1000;
    top: 10px;
    flex-wrap: nowrap;
  right: 0px;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: absolute;
    flex-direction: row;
}
.innerabove{

  color:#666666;
  text-decoration: none;
  padding: 12px 70px;
  background-color: #E7E7E7;
}
.header-right-side a{
  background-color: #F4F2F2;
  width: 100%;
  text-align: center;
  padding: 17px 40px;

  color: black;
  
 
}
@media (max-width: 1200px) {
  .header-right-side a {

    padding: 17px 50px;
  }
}


.active-a{
background-color: white;

color:#6A7E09;
text-decoration: none;
padding: 12px 70px;
}

.dropbtn {
  background-color: F4F2F2;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
  .dropdown-menu  {


  background-color: #417E09;



}
@media screen and (max-width: 1700px) and (min-width: 600px) {
  .middle{
    display: none;
  }
  .header-right-side a{
    padding: 17px 45px;
  }
  .header-right-side{
    background-color: #F4F2F2;

  }
  .header-left-side{
    margin-left: 20px;
  }

}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .middle{
    display: none;
  }
  .header-right-side a{
    padding: 17px 45px;
  }
}
@media screen and (max-width: 600px) and (min-width: 300px) {
  .middle{
    display: none;
  }
  .header-right-side a{
    padding: 17px 20px;
  }
  
}
.close-btn-none{

  display: none;
}
.close-btn{
   

  top:0%;
 

  right: 1px;
    display: block;
    color: black;
    position: relative;
}
.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  text-decoration: none;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
  text-decoration: none
}
.menu-item:hover {
  color: #2980b9;
  text-decoration: none
}
.container{
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}
.footer {
  direction: rtl;
  width: 100%;
  height: 279px;
  grid-area: footer;
  display: flex;
  bottom: 0%;
  flex-direction: column;
  font-size: -0.1rem;
}
.top-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(214, 10, 10);
  border-bottom: 1px solid orange;
  color: white;
}
.bottom-footer {
  color: white;
  background-color: rgb(0, 36, 43);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-footer-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-start;
  margin-right: 20px;
}
.top-footer-top img {
  width: 50px;
  height: 30px;
  align-self: center;
  margin-bottom: 10px;
}

.top-footer-top h1 {
  font-size: 1.1rem;
}

.top-footer-bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.right-footer {
  width: 33%;
  direction: rtl;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.right-footer ul li {
  line-height: normal;
  list-style: disc;
  padding: 5px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}
.right-footer ul li:hover {
  color: rgb(255, 187, 1);
  /* font-size: 1.2rem; */
  cursor: default;
}

.left-footer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.left-footer-left {
  border-right: 1px solid rgb(255, 187, 1);
  padding: 50px;
  width: 50%;
}
.left-footer-right {
  width: 50%;
  color: rgb(255, 187, 1);
  border-right: 1px solid rgb(255, 187, 1);
  padding: 50px;
}
.left-footer-left h1 {
  color: rgb(255, 187, 1);
  margin-bottom: 12px;
  font-size: 1.2rem;
}
.left-footer-left ul li {
  padding: 7px;
}
.left-footer-left ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}
.left-footer-left ul li a:hover {
  color: rgb(255, 187, 1);
  border-bottom: 2px solid rgb(255, 187, 1);
  /* font-size: 1rem; */
}
.left-footer-right h1 {
  margin-bottom: 12px;
  font-size: 1.2rem;
}
.left-footer-right ul li {
  padding: 7px;
}
.left-footer-right ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}
.left-footer-right ul li a:hover {
  color: rgb(255, 187, 1);
  border-bottom: 2px solid rgb(255, 187, 1);
  /* font-size: 1rem; */
}
.left-footer-right label {
  margin-top: 20px;
  display: block;
  line-height: normal;
}
.left-footer-right input {
  display: block;
  margin-top: 10px;
  direction: ltr;
  border: 1px solid gray;
  background-color: rgba(123, 123, 123, 0.736);
  color: white;
  border-radius: 5px;
  height: 30px;
  padding: 7px;
  outline: none;
  width: 100%;
}
.left-footer-right input:focus {
  border: 1px solid orange;
}

@media (max-width: 1200px) {
  .section-one {
    padding-right: 100px;
    padding-top: 150px;
  }
  .section-one-main {
    width: 500px;
  }
  .section-one-main h1 {
    font-size: 1.8em;
  }
  .section-two-main {
    width: 600px;
  }
}

@media (max-width: 992px) {
  .section-one img {
    height: 70%;
  }
  .left-footer {
    width: 100%;
  }
  .right-footer {
    width: 100%;
    justify-content: start;
    padding: 30px 68px 0px 0px;
    border-top: 1px solid rgb(255, 187, 1);
  }
  .top-footer-bottom {
    flex-direction: column-reverse;
  }
  .left-footer-right {
    border: none;
  }
  .left-footer-left {
    border: none;
  }
  .section-four-main-divs {
    margin: 0;
  }
  .section-two-main {
    margin: 10px 30px;
  }
}

.regester-container{
  display: flex;
  margin-top: 20%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
  }  
  
  .regester-header{
  
  
    width: 709px;
    height: 100px;
    background-color: #F50B0B;   
  
    
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    top: 10%;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    align-content: center;
  }

  .form-box{
  
    display: flex;
  border: 1px solid #f82626;
  
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  }
  .form-group{
  width:100%;
  padding: 20px;
  text-align: center;
  }
  .lable-box{
    margin: 11px;
  }
  
.ADtype{
  text-align: center;
  top: -29%;
  left: 29%;
  bottom: 0%;
  position: relative;
}



/* the register */

/* 
body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #3b4465;
} */

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  margin-top: 15%;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
  margin-right: -30px;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
  background-color: #F4F2F2;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: rgb(170, 61, 61);
	background-color: transparent;
	border: none;
	outline: none;
  transform: translateX(50px);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: rgb(39, 199, 73);
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: rgb(31, 192, 17);
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
  margin-right: -211px;

}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
  margin-right: -211px;

}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
  

}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
 

}

.btn-login {
	color: #fbfdff;
	background: #a7e245;
	transform: translateX(-30%);
}

.btn-signup {
	color: #a7e245;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #a7e245;
	transform: translateX(30%);
}
.d-item{
background-color: #F4F2F2;
display: block;
}